<form action='/bookmarks' method='post'>
  Enter title: <input type='text' name='title' placeholder='Google'></p>
  Enter URL: <input type='text' name='url' placeholder='www.google.com'></p>
  <input type='submit' value='Save' name='save'>
</form>